name: Go CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: [self-hosted, 1ES.Pool=1es-ubuntu-github-beta-sdk-go-compute-latest]
    env:
      relativePath: ./
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.20'
      - name: Install dependencies
        run: go install -p=1 -gcflags=all=-c=1
        working-directory: ${{ env.relativePath }}
      - name: Build SDK project
        run: go build -p=1 -gcflags=all=-c=1
        working-directory: ${{ env.relativePath }}
      - name: Run unit tests
        run: go test -p=1 -gcflags=all=-c=1
        working-directory: tests
